/Build/output
/Build/temp
/tSQLtCLR/tSQLtCLR/bin
/tSQLtCLR/tSQLtCLR/obj
/tSQLtCLR/tSQLtTestUtilCLR/bin
/tSQLtCLR/tSQLtTestUtilCLR/obj
*.ssms_suo
/tSQLtCLR/tSQLtCLR.suo
/tSQLtCLR/UnsignedEmpty/obj
/tSQLtCLR/UnsignedEmpty/bin
/tSQLtCLR/tSQLtExternalAccessKey/bin
/tSQLtCLR/tSQLtExternalAccessKey/obj
/tSQLtCLR/tSQLtCLR.v12.suo
