/Build/output
/Build/temp
/tSQLtCLR/tSQLtCLR/bin
/tSQLtCLR/tSQLtCLR/obj
/tSQLtCLR/tSQLtTestUtilCLR/bin
/tSQLtCLR/tSQLtTestUtilCLR/obj
*.ssms_suo
/tSQLtCLR/tSQLtCLR.suo
/tSQLtCLR/UnsignedEmpty/obj
/tSQLtCLR/UnsignedEmpty/bin
/tSQLtCLR/tSQLtAssemblyKey/bin
/tSQLtCLR/tSQLtAssemblyKey/obj
/tSQLtCLR/tSQLtCLR.v12.suo
*.dtbcache
*.suo
/tSQLtCLR/builderr.txt
/tSQLtCLR/buildlog.txt
/tSQLtCLR/.vs/tSQLtCLR/v15/Server/sqlite3/db.lock
/tSQLtCLR/.vs/tSQLtCLR/v15/Server/sqlite3/storage.ide
/tSQLtCLR/.vs/tSQLtCLR/v15/Server/sqlite3/storage.ide-shm
/tSQLtCLR/.vs/tSQLtCLR/v15/Server/sqlite3/storage.ide-wal
/tSQLtCLR/.vs/tSQLtCLR/v16/Server/sqlite3
/Build_Artifact
/tSQLtCLR/OfficialSigningKey/tSQLtOfficialSigningKey.b64.txt
*.pfx
.DS_Store
/Build_Output
/tSQLtCLR/OfficialSigningKey/KeyInfo.txt
/tSQLtCLR/OfficialSigningKey/KeyInfoC.txt
